body {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Raleway', 'Open Sans', sans-serif;
    /* esta es la propiedad que añadimos
   */
}
.raleway-regular {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.raleway-bold {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
main{
    background-color: black;
}
footer{

}
footer i{
    font-size: 1.4rem;
}